@model IEnumerable<MaxBox.MVCExample.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Partial("_Paging")
@Html.Partial("_Filters")
<table class="table">
    <tr>
        <th>
            Category Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prijs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Afkorting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsBeschikbaar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Naam)
        </td>
        <td>
            €@Html.DisplayFor(modelItem => item.Prijs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Afkorting)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsBeschikbaar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
    </tr>
}
</table>
